* {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.contentWindow{
  position: absolute;
  background-color: #B4E0DE;
}

.resizer{
  position: absolute;
  z-index: 100;
  background-color: #4E6160;
}

.verticalResizer{
  cursor: ns-resize;
}

.horizontalResizer{
  cursor: ew-resize;
}

#win2{
  width: 100%;
  height: 100%;
  overflow: auto;
}

pre[contenteditable="true"] {
  border: none;
  outline: none; /* Remove the outline when focused */
  padding-left: 2em;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}