.editor {
    border: none;
    outline: none; /* Remove the outline when focused */
    padding-left: 0em;
    height: 100%;
    width: 100%;
    overflow: auto;
}




.editor::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    visibility: hidden;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 0.334) 2pt;
    -webkit-box-shadow: none;
}
  

.editor::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 4pt;
    box-shadow: none
}   


.editor::-webkit-scrollbar-thumb:vertical:hover , .vertical-scrolling::-webkit-scrollbar-thumb:vertical {
    background-image: var(--vertical-gradient);
    box-shadow: 0 0 10px inset rgba(255,255,255,0.3);
}

.editor::-webkit-scrollbar-thumb:horizontal:hover, .horizontal-scrolling::-webkit-scrollbar-thumb:horizontal {
    background-image: var(--horizontal-gradient);
    box-shadow: 0 0 10px inset rgba(255,255,255,0.3);
}



.editor::-webkit-scrollbar-corner {
    display: none;
}











.custom-cursor {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: blue;
}


