.editor {
    border: none;
    outline: none; /* Remove the outline when focused */
    padding-left: 0em;
    height: 100%;
    width: 100%;
    overflow: auto;
}




.editor::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    visibility: hidden;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 0.334) 1pt;
    -webkit-box-shadow: none;
}
  

.editor::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 2pt;
}   


.editor::-webkit-scrollbar-thumb:hover , .editor-scrolling {
    background-image: linear-gradient(to bottom, hsla(22, 98%, 51%, 0.7), hsla(308, 98%, 51%, 0.7));
    box-shadow: 0 0 15px inset rgba(255,255,255,0.9);
}

.editor::-webkit-scrollbar-thumb:horizontal:hover, .editor-scrolling {
    background-image: linear-gradient(to right, hsla(22, 98%, 51%, 0.7), hsla(308, 98%, 51%, 0.7));
    box-shadow: 0 0 15px inset rgba(255,255,255,0.9);
}



.editor::-webkit-scrollbar-corner {
    display: none;
}



.custom-cursor {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: blue;
}


