* {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.contentWindow{
  position: absolute;
  display: flexbox;
  background-color: #5a6767;
}

.resizer{
  position: absolute;
  z-index: 100;
  background-color: #7f9292;
  transition: transform ease-in-out 0.2s;
}

.resizer:hover {
  background-color: #83d2ed;
  transform: scale(2.5);
  transition: transform ease-in-out 0.2s;
}


.verticalResizer{
  cursor: ns-resize;
}

.horizontalResizer{
  cursor: ew-resize;
}



