body {
    overflow: hidden;
    user-zoom: none;
    font-family: Arial, Helvetica, sans-serif;
}



/*--------------------- EDITOR ----------------------- */


.editor {
    border: none;
    outline: none; /* Remove the outline when focused */
    padding-left: 0;
    flex: 1;
    width: 100%;
    overflow: auto;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
    tab-size: 4;
}



.editor *::selection {
    background-color: rgba(132, 132, 179, 0.54);
}



.editor div.line {
    position: relative;
    margin: 0;
    counter-increment: linenumber;
}


.editor div.line:hover::before {
    color : rgb(255, 74, 74);

}




.editor div.line::before {
    
    content: counter(linenumber); /* Display the line number */
    display: inline-block; /* Ensure it behaves like a block element */
    width: 2em; /* Adjust width as needed for alignment */
    text-align: right; /* Align the line number to the right */
    margin-right: 0.5em; /* Add some spacing between the line number and code */
    color: #555; /* Line number color */

}


* ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    visibility: hidden;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 0.334) 2pt;
}
  



* ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 4pt;
}   

* ::-webkit-scrollbar-corner {
    display: none;
}


.editor::-webkit-scrollbar-thumb:vertical:hover , .vertical-scrolling::-webkit-scrollbar-thumb:vertical {
    background-image: var(--vertical-gradient);
    box-shadow: 0 0 10px inset rgba(255,255,255,0.3);
}

.editor::-webkit-scrollbar-thumb:horizontal:hover, .horizontal-scrolling::-webkit-scrollbar-thumb:horizontal {
    background-image: var(--horizontal-gradient);
    box-shadow: 0 0 10px inset rgba(255,255,255,0.3);
}


.editor-window {
    display: flex;
    flex-direction: column;
}


.quick-access-bar {
    height: 30px;
    background-color: #222;
}

.path-display {
    align-items: center;
    height: 20px;
    background-color: #333;
    display: inline;
    color:aliceblue;
    padding-left: 10px;
    -webkit-box-shadow: inset 0px -2px 5px 0px #222; 
    box-shadow: inset 0px -2px 5px 0px #222;
    user-select: none;
}



.quick-access-item {
    width: 100px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    align-items: center;
}

.image {

    max-width: 100%; /* Make the image take up 100% of the container width */
    max-height: 100%; /* Make the image take up 100% of the container height */
    object-fit: cover; /* Ensure the image covers the entire container without distorting */
    width: auto;
    height: auto;
    display: block; /* Remove default inline behavior */
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensure content does not overflow the container */
    display: flex;
    align-items: center;
    justify-content: center;
}


.custom-cursor {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: blue;
}



/*---------------------  FILEMANAGER ----------------------- */


.filemanager {
    width: 100%;
    height: 100%;
    user-select: none;
    color: rgb(236, 231, 225);
    background-color: #222;
    font-size: 9pt;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.title {
    padding: 5px;
}


.menu-icon {
    font-size: 34pt;
    margin: 3px;
    padding: 3px;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    border: transparent
}

.menu-icon:hover {
    background-color: rgb(168, 168, 168);
}


.menu-bar-horizontal {
    align-content: center;
    display: inline-flex;
    overflow: overlay;
    border-bottom: #666 1pt solid;
}

.menu-bar-horizontal::-webkit-scrollbar {
    display: none;
}

.files {
    flex:1 ;
    overflow: auto;
}


.nothing-selected {
    padding-left: 1em;
    padding-right: 1em;
    
    white-space: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.open-options {
    margin-bottom: 3em;
    margin-top: 3em;
    color: white;
    background-color: rgb(33, 155, 226);
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    align-content: center;
}




.dir-name {
    flex:1
}

.dir {
    padding-left: 1em;
}


.files .dir-name:Hover, .files .file:hover{
    background-color: gray;
}


.files:hover .file::before {
    border-left: 2px rgba(169, 169, 169, 0.664) solid;
}

.file::before {
    transition: border-left 0.4s ease;
    border-left: 2px solid transparent;
    content: "";
    margin-right: 1px;
}



.dir[opened=true] .dir-name::before{
    display: inline;
    content: '\1F4C2'; /* Unicode character for a folder */
    
}

.dir[opened=false] .dir-name::before {
    display: inline;
    content: '\1F4C1'; /* Unicode character for a folder */
    
}




